@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


/* variaveis */
:root {
    --mainColor: #e6e6fa;
    --color: #7b68ee;
    --font: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* formatação do container principal e seletores genericos */
body {
    font-family: var(--font);
    margin: 0;
}

.main-container {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 10px auto;
    padding: 20px 10px;
    border-radius: 10px;
}

button{
    cursor: pointer;
}

/* seletores alert */
.alert {
    margin: 0;
    
}

.alert-danger {
    background-color: lightpink;
    color: firebrick;
    padding: 5px 10px;
    border-radius: 5px;
}

.alert-sucess {
    background-color: palegreen;
    color: forestgreen;
    padding: 5px 10px;
    border-radius: 5px;
}

/* formatação do nome da lista e seu editor */
.name-container {
    display: flex;
    align-items: center;
}

#list-name {
    text-align: center;
}

.edit-name {
    margin: 0 0 0 15px;
    background-color: var(--color);
    color: white;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
}

.list-name-form {
    display: none;
}

.hide-button{
    display: none;
}

.show-form {
    display: inline-block;
}

#list-name-input {
    font-size: 0.9em;
    width: 100px;
    margin: 0 0 0 15px;
    padding: 3px 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#change-name-button {
    background-color: var(--color);
    color: white;
    margin: 0 0 0 -5px;
    padding: 3px 8px;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* formatação do form principal */
.form-control {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
}

#input-item {
    font-size: 0.9em;
    width: 200px;
    margin: 0 0 0 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.submit-button {
    background-color: var(--color);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 0 -5px;
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* formatação da lista */
.list-container {
    color: black;
}

.show-container {
    color: black;
}

.list {
    color: black;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    color: black;
}

.edit-button {
    color: black;
}

.delete-button {
    color: black;
}

.clear-button {
    background-color: transparent;
    color: crimson;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
}

.clear-button:hover{
    color: lightcoral;
}