@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* variaveis 
mudanças a fazer:
- criar variaveis para formatação de texto
    - captalize
    - espaçamento da fonte de 'clear-item'
    - tamanho da fonte
    - familia da fonte
- criar variaveis para outras cores
    - destacar item que está sendo editado
    - cor para hover de botões
        - botão dos forms
        - botão das listas
- mudar cores poadrão
    - tons terrosos
- criar variaveis de animação 
- criar variaveis de tamanho de box
- criar variaveis de radius*/
:root {
    --mainColor: #e6e6fa;
    --contrastColor: #7b68ee;
    --lightGreen: palegreen;
    --darkGreen: forestgreen;
    --lightRed: lightpink;
    --darkRed: firebrick;
    --titleFont: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font: "Roboto Slab", serif;
}

/* formatação do container principal e seletores genericos 
mudanças a fazer: 
- criar responsividade
- criar box-shadow
- mudar fontes, cores e outras formatações que incluem as variaveis */
body {
    font-family: var(--font);
    margin: 0;
}

.main-container {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 10px auto;
    padding: 20px 10px;
    border-radius: 10px;
}

button{
    cursor: pointer;
}

.hide{
    display: none;
}

/* seletores alert 
mudanças a fazer:
- criar responsividade
- mudar cores e outras formatações relacionadas as variaveis */
.alert {
    margin: 0;
}

.alert-danger {
    background-color: var(--lightRed);
    color: var(--darkRed);
    padding: 5px 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: var(--lightGreen);
    color: var(--darkGreen);
    padding: 5px 10px;
    border-radius: 5px;
}

/* formatação do nome da lista e seu editor
mudanças a fazer:
- criar responsividade
- mudar cores e outras formatações relacionadas as variaveis */
.name-container {
    display: flex;
    align-items: center;
}

#list-name {
    font-family: var(--titleFont);
    text-align: center;
}

.edit-name {
    margin: 0 0 0 15px;
    background-color: var(--contrastColor);
    color: white;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
}

.show-form {
    display: inline-block;
}

#list-name-input {
    font-size: 0.9em;
    width: 70px;
    margin: 0 0 0 15px;
    padding: 3px 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#change-name-button {
    background-color: var(--contrastColor);
    color: white;
    margin: 0 0 0 -5px;
    padding: 3px 8px;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* formatação do form principal 
mudanças a fazer:
- criar responsividade
- mudar cores e outras formatações relacionadas as variaveis */
.form-control {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
}

#input-item {
    font-size: 0.9em;
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.submit-button {
    background-color: var(--contrastColor);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 0 -5px;
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* formatação da lista 
mudanças a fazer:
- criar responsividade
- ajustar comportamento da lista
    - mudar local do 'clear items'
- mudar cores e outras formatações relacionadas as variaveis */
.list-container {
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    margin-bottom: -5px;
    padding: -5px;
}

.edit-button, .delete-button{
    background: transparent;
    border: none;
    font-size: 1em;
}

.edit-button {
    color: var(--darkGreen);
}

.delete-button {
    color: var(--darkRed);
}

.clear-button {
    background-color: transparent;
    color: var(--darkRed);
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
}

.clear-button:hover{
    color: var(--lightRed);
}